.vscode
__pycache__

# Ignore all files in datasets but keep directory
/datasets/**
!/datasets/**/
!/datasets/**.py

# Ignore all files in artifacts but keep manager
**/artifacts/**
!/artifacts/artifact_manager.py


**/output/**
!**readme.txt
*.pt

/wandb/**