.vscode
__pycache__

# Ignore all files in datasets but keep directory
/datasets/**
!/datasets/**/
!/datasets/**.py

# Ignore all files in output but keep directory
**/output/**
!**/output/**/

# Ignore all files in artifacts but keep manager
**/artifacts/**
!/artifact_manager.py

!**readme.txt
*.pt